<div class="form__details">
  <h2 class="heading-2">Sign up</h2>
  <p class="margin-top-2 font-weight-500">
    We don't share your personal details with anyone.
  </p>
</div>
<form class="form" id="registerform" name="register">
  <div class="form__group">
    <input type="text" id="fname" name="fname" />
    <label for="fname">First Name</label>
  </div>
  <div class="form__group">
    <input type="text" id="lname" name="lname" />
    <label for="lname">Last Name</label>
  </div>
  <div class="form__group">
    <input type="email" id="email" name="email" />
    <label for="email">Email</label>
  </div>
  <div class="form__group">
    <input type="password" id="password" name="password" />
    <label for="password">Password</label>
  </div>
  <div class="form__group">
    <input type="password" id="confirmpassword" name="confirmpassword" />
    <label for="confirmpassword">Confirm Password</label>
  </div>
  <button type="submit" class="btn btn--login">Register</button>
</form>