<div class="slider">
      {{#each slides}}
        <div class="slide">
          <img src="{{../imageURL}}/offers/{{this}}" alt="" />
        </div>
      {{/each}}
    <button class="slider__btn slider__btn--left">&larr;</button>
    <button class="slider__btn slider__btn--right">&rarr;</button>
    <div class="dots"></div>
  </div>